:root {
    /* Mocha Palette */
    --color-rosewater: #F5E0DC;
    --color-flamingo: #F2CDCD;
    --color-pink: #F5C2E7;
    --color-mauve: #CBA6F7;
    --color-red: #F38BA8;
    --color-maroon: #EBA0AC;
    --color-peach: #FAB387;
    --color-yellow: #F9E2AF;
    --color-green: #A6E3A1;
    --color-teal: #94E2D5;
    --color-sky: #89DCEB;
    --color-sapphire: #74C7EC;
    --color-blue: #89B4FA;
    --color-lavender: #B4BEFE;

    /* Base Colors */
    --color-base: #1E1E2E;
    --color-mantle: #181825;
    --color-surface: #313244;
    --color-overlay: #414559;
    --color-subtext: #6E6C7E;
    --color-text: #CDD6F4;
}

/* Light Theme */
body.light-theme {
    --color-base: #F5F5F5;
    --color-mantle: #E0E0E0;
    --color-surface: #C0C0C0;
    --color-overlay: #A0A0A0;
    --color-subtext: #808080;
    --color-text: #000000;
}


html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-base);
    color: var(--color-text);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    background-color: var(--color-surface);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    color: var(--color-text);
    padding-left: 1rem;
}

#menu-toggle {
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    display: none;
    /* Hidden on larger screens */
    margin-right: 1rem;
}

nav {
    font-size: 1.5rem;
    text-align: right;
}

nav ul {
    list-style: none;
    display: flex;
    /* Default to flex for larger screens */
    margin-right: 1rem;
}

nav li {
    margin-left: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--color-maroon);
}


.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--color-blue);
}

input:checked+.slider:before {
    transform: translateX(26px);
}



section {
    scroll-margin-top: 70px;
    /* Space for sticky header */
    text-align: center;
    padding: 2rem 0;
}



/* About Section */

#about h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-sky);
    font-size: 3rem;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* Align items to the top */
    flex-direction: row;
}

.profile-info {
    width: 60%;
    text-align: left;
}

@keyframes gradient-animation {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.profile-info h3 {
    font-size: 4rem;
    color: var(--color-red);
    margin-bottom: 0;
    background: linear-gradient(-45deg, var(--color-red), var(--color-maroon), var(--color-sky), var(--color-rosewater));
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.profile-info h4 {
    font-size: 3rem;
    color: var(--color-lavender);
    margin: 0.2rem 0;
}

.about-content {
    color: var(--color-text);
    text-align: justify;
    font-size: 1.25rem;
    font-family: 'Noto Serif', serif;
    margin-bottom: 1rem;
}


.profile-picture {
    border-radius: 50%;
    width: 30%;
    max-width: 250px;
    /* Limit maximum size */
    margin-bottom: 1rem;
    /* Spacing below the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
}

/* Skills Section */
.skills {
    margin-top: 20px;
}

.skills h4 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color-mauve);
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 0.8rem;
      text-align: left;
}

.skill-name {
    display: block;
    font-weight: bold;
}

.skill-bar {
    background-color: #ddd;
    height: 10px;
    border-radius: 5px;
    position: relative;
}

.skill-level {
    background-color: var(--color-blue);
    height: 100%;
    border-radius: 5px;
    /* Width is set inline in the HTML */
}


/* Projects Section */

#projects h2 {
    text-align: center;
    color: var(--color-sky);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.project-item {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border: 1px solid var(--color-overlay);
    border-radius: 10px;
    background-color: var(--color-mantle);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.project-item h3 {
    font-size: 2.5rem;
    color: var(--color-lavender);
    margin: 0 0 0.5rem 0;
}

.project-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-item p {
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
    text-align: left;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

.project-item strong {
    color: var(--color-peach);
}

.project-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--color-blue);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.project-link:hover {
    background-color: var(--color-sapphire);
}


/* Contact Section */

#contact h2 {
    text-align: center;
    color: var(--color-sky);
    font-size: 3rem;
}

#contact p {
    font-size: 1.25rem;
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

#contact a {
    color: var(--color-sapphire);
    text-decoration: none;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: var(--color-blue);
    text-decoration: underline;
}


.social-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    margin: 0 0.75rem;
    font-size: 1.5rem;
   color: var(--color-text);
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
    color: var(--color-blue);
    transform: scale(1.2); /* Enlarge slightly on hover */
}

.github-icon {
    color: var(--color-text);
}
.linkedin-icon{
    color: var(--color-text);
}


/* Footer */
footer {
    padding: 1rem;
    background-color: var(--color-surface);
    text-align: center;
    color: var(--color-text);
    width: 100%;
}

/* Responsive Design */

/* Tablets */
@media (max-width: 768px) {
    h1 {
        padding-left: 0;
    }
    #menu-toggle {
        display: block; /* Show menu toggle on tablets and smaller */
    }

    nav ul {
        display: none; /* Hide by default on mobile */
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* Adjust based on header height */
        left: 0;
        width: 100%;
        background-color: var(--color-surface);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
         margin-right: 0;

    }

    nav ul.active {
        display: flex;
        /* Show when active class is present */
    }

    nav li {
        margin: 1rem 0;
        text-align: center;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile-info {
        width: 100%;
        text-align: center;
    }

    .profile-info h3,
    .profile-info h4 {
        font-size: 2.5rem;
    }

      .profile-picture {
        width: 50%;
    }
    .project-item h3{
        font-size: 2rem;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    #about h2,
    #projects h2,
    #contact h2 {
        font-size: 2.5rem;
    }

    .profile-info h3,
    .profile-info h4 {
        font-size: 2rem;
    }
     .profile-picture {
        width: 70%;
    }

    .project-item h3 {
        font-size: 1.8rem;
    }

    .about-content,
    .project-item p,
    #contact p {
        font-size: 1rem;
    }

    .skills ul {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

     nav ul {
        top: 55px;
    }
}